In [1]:
# import relevant moduls
import pandas as pd
pd.set_option('display.max_columns', None)
import warnings
warnings.filterwarnings('ignore')
import sys
sys.path.append('../scripts/')
from analysis import vectorize_hashtags, compare_vectors

In [2]:
# read and clean files
cluster_df = pd.read_json('../../data/BTW17_Suggestions/suggestions/cluster.json')
topics_df = pd.read_json('../../data/BTW17_Twitter/lda/hashtag_topics.json')

In [3]:
cluster_df.head(3)

,x,y,suggestion,cluster,vector
0,-41.195660,24.601269,[kritik],-1,"[0.1406999975, 0.4914999902, -0.5505999923, -0..."
1,29.848356,7.018672,"[sabine, leidinger, oppenheim]",-1,"[-0.1115000024, -0.5394250154, -0.354649990800..."
2,-3.223571,8.100126,"[hermann, göring]",-1,"[-0.0913999975, -0.27849999070000003, -0.56410..."

In [4]:
topics_df.head(3)

,hashtag,topic,topic_words,scores
0,diesel,71,"[schlussrunde, fast, deshalb, deutsch, rente, ...","[0.428, 0.040, 0.039, 0.033, 0.022, 0.020, 0.0..."
1,denkenwirneu,27,"[völlig, frei, polizei, islam, zeit, verändern...","[0.046, 0.042, 0.041, 0.041, 0.038, 0.030, 0.0..."
2,bundestag,62,"[stoppen, sozial, bekämpfen, mindestlohn, schü...","[0.075, 0.068, 0.064, 0.053, 0.052, 0.044, 0.0..."

In [5]:
hashtag_vectors = vectorize_hashtags(topics_df)

In [6]:
similarity_df = compare_vectors(hashtag_vectors, cluster_df)
similarity_df.head(3)

  0%|          | 0/25322 [00:00<?, ?it/s]

,suggestion,cluster,similarity_scores
0,[kritik],-1,"[0.369, 0.577, 0.462, 0.5, 0.577, 0.602, 0.478..."
1,"[sabine, leidinger, oppenheim]",-1,"[0.42, 0.607, 0.534, 0.606, 0.607, 0.57, 0.548..."
2,"[hermann, göring]",-1,"[0.387, 0.405, 0.416, 0.342, 0.405, 0.336, 0.3..."

In [7]:
# save df to json
similarity_df.to_json('../../data/BTW17_Suggestions/suggestions/vector_similarity.json')